<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bussinesses</title>
</head>
<body>
    <h1>All Bussinesses</h1>
    <div>
        <a href="/Places/new">Add Bussiness</a>
    </div>
    <ul>
        <% for(let place of places) {%>
        <li><a href="Places/<%= place.id %>"><%=place.name%></a></li>
        <% } %>
    </ul>
</body>
</html>